@font-face {
  font-family: Samim;
  src: url("fonts/Samim.ttf") format("truetype"); 
}

@font-face {
  font-family: YekanPlus;
  src: url("fonts/yekan-plus.ttf") format("truetype"); }

.yekan-titr{
  font-family: YekanPlus !important;
}

.page-section .container{
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.container-fluid{
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}


.sigle-product{
  width: 200px !important;
  height: auto;
}

.sigle-product-content{
  height: 310px;
}

.sigle-product-content .caption .caption-title{
  height: 50px;
  color: white;
}

.border-radius{
  border-radius: 15px;
}

.red-back{
  background-color: rgb(242, 73, 73) !important;
  border: solid 2px rgb(242, 73, 73) !important;
}

.white-back{
  background: #fdfdfd;
}

.white-color{
  color: white;
}

.hide-scroll {
  overflow-y: hidden; /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.row table{
  position: relative;
  height: 100%;
}

.table-responsive{
  margin: 0px !important;
}

.h-scroll{
  height: 460px !important;
}

.h-scroll table{
  height: 460px !important;
}

.h-scroll table tbody tr td{
  height: 46px !important;
}

.margin-tb-10{
  margin: 10px 0 10px 0 !important;
}

.newest-products{
  height: 330px !important;
  background-color: rgb(255, 192, 0) !important;
}

.catagories-table tbody tr td{
  height: 250px;
}

.catagories{
  height: 250px;
  background: #737676 !important;
}

.text-center{
  text-align: center;
}

.width-130{
  width: 130px !important;
}

.brands-table tbody tr td{
  height: 350px;
}

.brands-table tbody tr td div{
  margin: 10px !important;
}

.brands{
  height: 450px;
  background: #AFB266;
}

.circle{
  border-radius: 50%;
}

.swiper {
  width: 100%;
  border-radius: 10px;
  margin: 10px;
  background-color: rgb(242, 73, 73);
  /* height: 300px; */
}

.swiper-wrapper{
  padding: 10px;
}

.swiper-slide{
  height: auto;
}
.swiper-button-next{
  border-radius: 10px !important;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.623);
}
.swiper-button-prev{
  border-radius: 10px !important;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.623);
}
.sigle-post{
  width: 300px !important;
  height: auto;
}

.sigle-post-content{
  height: 400px;
}

.sigle-post-content .caption .caption-title{
  height: 50px;
  color: white;
}

.newest-posts{
  height: 430px !important;
  background-color: white !important;
}

.cart-items-inner > div{
  padding: 15px;
}

.thumbnail{
  height: 300px !important;
}

.media{
  height: 150px !important;
}

.caption{
  height: 150px !important;
}

.caption > .caption-title{
  font-size: 13px !important;
  font-weight: bold;
  padding: 0 2px 0 2px !important;
}

.caption > .rating{
  display: none !important;
}

.btn-wish-list{
  display: none !important;
}

.btn-compare{
  display: none !important;
}

img{
  position: relative;
  width: 100%;
}

.mom-child-product{
  background-color: #AFB266;
  padding: 8px;
  margin: 10px;
  border-radius: 10px;
  font-family: YekanPlus !important;
  color: white !important;
  text-align: center !important;
}

.mom-child-product h4{
  color: white !important;
}

.skin-care-product{
  background-color: #eb9b34;
  padding: 8px;
  margin: 10px;
  border-radius: 10px;
  font-family: YekanPlus !important;
  color: white !important;
  text-align: center !important;
}

.skin-care-product h4{
  color: white !important;
}

.icon-user img{
  width: auto !important;
}

.icon-form img{
  width: auto !important;
}

.center-vertical{
  vertical-align:middle !important;
}

.margin-tb-10{
  margin: 10px 0 10px 0 !important;
}

del{
  color: red !important;
}

.discount-icon{
  z-index: 99 !important;
  position: fixed !important;
  right: 7%;
  background-color: red !important;
  color: white !important;
  padding: 2px 8px 2px 8px ;
}

.special-products-header{
  font-family: YekanPlus;
  background: white; 
  border: 1px solid red; 
  border-radius: 10px 10px 0 0
}